Fall-2025/comparative-languages/.vscode/
Fall-2025/comparative-languages/.project
Fall-2025/comparative-languages/.pydevproject
Spring-2026/Quantum-Gates-Homework/.venv/
Spring-2026/CHSH\ Inequality\ Experiments/venv312
